.main_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.logo {
    width:30px;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.align-items-center {
    align-items: center!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px){
    .col-large-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px){
    .col-large-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 992px){
    .col-large-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

.padding_top {
    padding-top: 140px;
}

.col-large-12, .col-large-5, .col-medium-8, .col-large-3, .col-large-7 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.main_menu .navbar {
    padding: 0px;
}

@media (min-width: 992px){
    .navbar-expand-large {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.main_menu .navbar-brand {
    padding-bottom: 0px;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}



@media (min-width: 992px) {
    .navbar-expand-large .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

@media (min-width: 992px){
    .navbar-expand-large .navbar-nav {
        flex-direction: row;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .main_menu .main-menu-item ul li .nav-link {
        padding: 35px 20px;
    }
}

.main_menu .main-menu-item ul li .nav-link {
    color: #000;
    font-size: 15px;
    padding: 36px 23px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 12px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

@media (min-width: 992px) {
    .navbar-expand-large .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    border: 0px solid transparent;
    background-color: #ff3368;
}

navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: #fafafa;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 8px 20px !important;
    color: #fff !important;
    background-color: #ff3368;
    text-transform: capitalize;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.main_menu .main-menu-item ul li .nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: #0056b3;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

.d-flex {
    display: flex!important;
}

.main_menu a i {
    color: #000;
    position: relative;
    z-index: 1;
    font-size: 15px;
    margin-left: 30px;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.main_menu .cart i {
    color: #000;
    position: relative;
    z-index: 1;
    font-size: 25px;
}

.fa, .fas, .far, .fal, .fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.main_menu .cart i:after {
    position: absolute;
    border-radius: 50%;
    background-color: #f13d80;
    width: 20px;
    height: 20px;
    right: -8px;
    top: -8px;
    content: "5";
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    color: #fff;
}

.hearer_icon a i {
    font-size:25px;
}

.main_menu .cart .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border: 0px solid transparent;
}

.banner_part, .product_banner_part {
    position: relative;
    overflow: hidden;
    background-color: #D14A9A;
    background-image: -webkit-linear-gradient(105deg, #d253b1, #fb6f4a);
    background-image: linear-gradient(345deg, #d253b1, #fb6f4a);
    padding-top: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

@media only screen and (max-width: 3640px) and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.banner_part .single_banner_main .banner_text, .product_banner_part .single_banner_main .banner_text {
    display: table;
    width: 100%;
}
.banner_part .single_banner_main .banner_text {
    height: 700px;
}

.product_banner_part .single_banner_main .banner_text {
    height: 500px;
    padding-top:90px;
}

.banner_part .single_banner_main .banner_text .banner_text_iner, .product_banner_part .single_banner_main .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
}

.banner_part .single_banner_main .banner_text h1, .product_banner_part .single_banner_main .banner_text h1 {
    font-size: 66px;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 72px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Poppins", sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.banner_part .single_banner_main .banner_text p, .product_banner_part .single_banner_main .banner_text p {
    font-size: 15px;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    margin-bottom: 70px;
    padding-right: 80px;
}

p {
    font-family: "Poppins", sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 300;
    margin-top: 0;
}

.banner_part .btn_2, .product_banner_part .btn_2 {
    box-shadow: none;
}

.btn_2 {
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #ff3368;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    background-size: 200% auto;
    text-transform: uppercase;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

.btn_2, .form-contact .form-group .btn_1 i {
    background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
}

.btn_2:hover {
    color: #fff !important;
    background-position: right center;
}

.btn_2, .form-contact .form-group .btn_1 i {
    background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
}

.banner_img {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.banner_img.main_banner {
    bottom:0;
}

.category_banner_img img {
    max-height: 400px;
}

@media (min-width: 768px) {
    .col-medium-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 992px) {
    .col-large-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (min-width: 992px){
    .col-large-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}
.section_tittle h2 {
    font-size: 36px;
    color: #1a1a1a;
    line-height: 27px;
    font-weight: 700;
    position: relative;
    margin-bottom: 28px;
}

.section_padding {
    padding: 140px 0px;
}

.section_tittle {
    margin-bottom: 80px;
}


.product_list .section_tittle h2 {
    text-transform: capitalize;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.product_list .section_tittle {
    text-align: left !important;
}

.text-center {
    text-align: center!important;
}

.product_list .section_tittle span {
    color: #adadad;
    font-size: 20px;
    font-weight: 700;
    margin-left: 60px;
}

.single_product_item {
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single_product_item .single_product_text {
    padding: 32px 0;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single_product_item .single_product_text h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}

.single_product_item .single_product_text h3 {
    font-weight: 300;
    font-size: 18px;
}

.single_product_item .single_product_text .add_cart {
    color: #ff3368;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single_product_item .single_product_text h3 {
    visibility: hidden;
}

.single_product_item:hover, .single_category_post_text:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09)
}

.single_product_item:hover .single_product_text {
    padding: 32px 32px;
}

.single_product_item:hover .add_cart, .single_product_item:hover h3 {
    opacity: 1;
    visibility: visible;
}

.footer_part {
    padding: 130px 0px 25px;
}

.footer_part .copyright_text p {
    color: #888;
}

.footer_part .copyright_text p a {
    color: #ff3368;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.category_part .single_category_post_text {
    padding: 50px;
    background-color: #f8fbff;
    margin-bottom: 30px;
    position: relative;
    height: 400px;
}

.category_part .cat-mac {
    background-color: #121217;
}

.category_part .single_category_post_text p {
    line-height: 13px;
}

.category_part .single_category_post_text h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 21px;
}

.category_part .single_category_post_text .category_btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ff3368;
    position: absolute;
    left: 50px;
    bottom: 60px;
    line-height: 15px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.category_part .single_category_post_text .category_btn i {
    font-weight: 12px;
    color: #ff3368;
    margin-left: 6px;
}

.category_part .single_category_post_text img {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.category_part .cat-mac img, .category_part .cat-iphone img {
    right:0px;
}

.category_part .cat-mac h3, .cat-ipad h3, .cat-iphone h3 {
    color:#fff;
}

.category_part .cat-mac p, .category_part .cat-iphone p {
    color:lightgray;
}

.category_part .single_category_post_text:hover .category_btn {
    bottom: 50px;
    opacity: 1;
    visibility: visible;
}

.category_part .cat-ipad {
    background-image: url('../img/category/cat_ipad.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#fff;
}

.category_part .cat-watch {
    background-image: url('../img/category/cat_watch.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#e3e3e3;
    background-position: bottom;
}

.category_part .cat-iphone img {
    width:75%;
}

.category_part .cat-iphone {
    background-color:#000000;
}

.s_product_text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 10px;
}

.s_product_text h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ff3368;
    margin-bottom: 15px;
}

.s_product_text .list li {
    margin-bottom: 5px;
}

.s_product_text .list li a.active {
    color: #ff3368;
}

.s_product_text .list li a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #555555;
}

.s_product_text .list li a.active span {
    color: #555;
}

.s_product_text .list li a span {
    width: 90px;
    display: inline-block;
}

.s_product_text p {
    padding-top: 20px;
    border-top: 1px dotted #d5d5d5;
    margin: 20px 0;
}

.s_product_text .card_area {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.d-flex {
    display: flex!important;
}

.s_product_text .product_count {
    border: 1px solid #ddd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 15px 15px;
}

.s_product_text .card_area .product_count input {
    border: 0px solid transparent;
    text-align: center;
}

.s_product_text .product_count .input-number {
    display: inline-block;
    width: 60px;
}

.s_product_text .btn_3 {
    padding: 13px 36px;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
    border: 1px solid #ff3368;
}

.btn_3 {
    display: inline-block;
    padding: 9px 42px;
    border-radius: 50px;
    background-color: #ff3368;
    border: 1px solid #ecfdff;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
    border: 1px solid #ff3368;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:hover, input:focus {
    outline: none !important;
}

.btn_3:hover {
    background-color: red;
    color: #fff;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.cart_inner .table {
    margin-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #797979;
    border-bottom: 0px !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.cart_inner .table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}

.media {
    display: flex;
    align-items: flex-start;
}

.cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px;
}

.cart_inner .table tbody tr td .media .d-flex img {
    border: 1px solid #eeeeee;
    border-radius: 3px;
}

.cart_inner .table tbody tr td .media .media-body {
    vertical-align: middle;
    align-self: center;
}

.media-body {
    flex: 1;
}

.cart_inner .table tbody tr td .media .media-body p {
    margin-bottom: 0px;
}

.cart_inner .table tbody tr td h5 {
    font-size: 14px;
    color: #2a2a2a;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
}

.cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px;
}

.cart_area .product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
}

.cart_area .product_count .input-number-decrement {
    position: absolute;
    right: 0;
    bottom: -9px;
    padding: 7px;
    border-left: 1px solid #dddddd;
    display: inline-block;
}

.cart_inner .table tbody tr td .product_count input {
    width: 100px;
    padding-left: 30px;
    height: 40px;
    outline: none;
    box-shadow: none;
}

.cart_area .product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.cart_area .product_count .input-number-increment {
    position: absolute;
    right: 0;
    top: -7px;
    padding: 7px;
    border-left: 1px solid #dddddd;
    display: inline-block;
}

.btn_1 {
    display: inline-block;
    padding: 9px 42px;
    border-radius: 50px;
    background-color: #ecfdff;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cart_inner .table tbody tr.bottom_button td:last-child {
    width: 60px;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text {
    margin-left: -446px;
}

.float-right {
    float: right!important;
}

.cart_inner .table tbody tr.shipping_area .shipping_box {
    margin-left: -250px;
    text-align: right;
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
    margin-bottom: 12px;
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li a {
    padding-right: 30px;
    font-size: 14px;
    color: #797979;
    position: relative;
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li:last-child {
    margin-bottom: 0px;
}

h1.cart-title {
    color:#fff;
}

.banner_text {
    z-index:2;
}

.banner_img {
    z-index:1;
}

a.btn_2.valid {
    font-size:20px;
}